body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(144, 245, 255);
  background: radial-gradient(
    circle,
    rgb(158, 244, 252) 18%,
    rgb(114, 185, 202) 100%
  );
}

h1 {
  margin-bottom: 30px;
}

.container {
  width: 100vw;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-marquee-container {
  background-color: #463331c0;
  overflow: hidden;
  color: #c5c5c5;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.stock-marquee {
  height: 32px;
  width: 100vw;
  padding: 3px 0;
  position: relative;
  animation: scrolling 120s linear infinite;
}

.company-symbol:hover {
  text-decoration: underline;
  cursor: pointer;
}

.stock-marquee:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

#form {
  text-align: center;
  margin-bottom: 30px;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.search-input {
  width: 500px;
}

.chart-spinner-wrapper {
  text-align: center;
}

input {
  padding: 5px;
}

button {
  font-family: "Poppins", sans-serif;
  margin-left: 15px;
  font-size: 16px;
  padding: 5px 20px !;
}

.spinner-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 30px;
  border-radius: 0.25rem;
  width: 700px;
}

li {
  display: flex !important;
  align-items: center;
  font-size: 16px;
  height: 65px;
  min-width: 500px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

li:hover {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 75px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.company-profile-img {
  padding-right: 15px;
  width: 50px;
}

mark {
  background-color: yellow;
  color: black;
  padding: 0;
}

/* company profile */

.company-card {
  background-color: rgb(255, 255, 255);
  padding: 30 px 40 px 50 px;
  margin-bottom: 50 px;
  border-radius: 5 px;
  box-shadow: 0px 0px 20px 0px #c5c5c5;
  width: 80 vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.body {
  padding: 15px 35px;
}

#company-profile-img {
  padding-right: 15px;
  padding: 15px;
  /* border: 1px solid #8888; */
}

#company-name {
  margin-top: 15px;
  margin-left: 30px;
  font-size: 36px;
  color: #888888;
  font-family: "Bebas Neue", cursive;
}

#stock-container {
  display: flex;
}

#stock-price {
  padding-right: 15px;
}

#company-link {
  text-align: left;
  margin: 40px 0 20px;
  transition: all 0.3s ease;
}

#chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#company-description {
  text-align: justify;
  font-size: 19px;
}

#myChart {
  display: none;
}

.negative {
  color: #cc0066;
}

.positive {
  color: #33cc00;
  padding-right: 15px;
}

/* keyframes */

@keyframes scrolling {
  0% {
    transform: translateX(101vw);
  }
  100% {
    transform: translatex(-190vw);
  }
}

@keyframes move {
  0% {
    left: 100%;
  }
  2% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (max-width: 730px) {
  .container {
    overflow-x: hidden;
    margin-top: 0;
  }

  .search-input {
    width: 80vw;
    margin-bottom: 15px;
  }

  .stock-marquee {
    height: 32px;
    width: 300vw;
    padding: 3px 0;
    position: relative;
    animation: scrolling 30s linear infinite;
  }

  .results {
    width: 50vw;
  }

  .list-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 0.25rem;
    width: 70vw;
  }
  .list-group-item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 25vw;
    /* margin-bottom: 30px; */
    border-radius: 0.25rem;
    width: 50vw;
    font-size: 12px;
  }

  .company-card {
    font-size: 12px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: -55px;
  }

  #company-profile-img {
    padding-top: 35px;
    width: 25vw;
  }

  #company-description {
    font-size: 14px;
  }

  #company-name {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 25px;
    color: #888888;
    font-family: "Bebas Neue", cursive;
  }

  .body {
    width: 100vw;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }
}
